{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Home!{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Ajouter un commentaire</div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}