{% extends '::base.html.twig' %}

{% block title %}Home!{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-default" href="{{ path("fos_user_security_logout") }}" role="button">Deconnexion</a>
    {% else %}
        <a class="btn btn-default" href="{{ path("fos_user_security_login") }}" role="button">Login</a>
    {% endif %}
    <a class="btn btn-default" href="{{ path("s2gold_form") }}" role="button">Ajouter un commentaire</a>
    {% for comment in comments %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ comment.date|date("d/m/y H:i") }}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path("s2gold_delete",{"id":comment.id}) }}"><span
                                class="glyphicon glyphicon-remove-sign pull-right" aria-hidden="true"></span></a>
                {% endif %}
            </div>
            <div class="panel-body">
                <p>{{ comment.text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}